extends _misc/main-with-backward

block title
	| Кабинет - платный курс. Урок

block content
	section.course.ams-simple-sect
		.wrapper
			- var crumbs = ['Мои курсы', 'Использование AutoCAD на 100% 2.0', '26.9 Настройка профиля'];
			ul.ams-breadcrumbs.ams-breadcrumbs--mob-modf
				//- each item in crumbs
				li
					+icon('arrow-left')
					a(href="#") Мои курсы
				li
					+icon('arrow-left')
					a(href="#") Использование AutoCAD на 100% 2.0
				li
					+icon('arrow-left')
					a(href="#") 26.9 Настройка профиля

		.wrapper.course-wrapper
			.course-video-mob
				.course-video
					video(poster="img/poster.jpg")
						source(src="https://www.youtube.com/watch?v=dGt08ylXCj0&list=PLIV84uuUwBBDwLXOui4XYWwhe_47dc-Lg&index=3&t=0s", type="video/youtube")


					.course-video__bottom.course-block
						a(href="#")
							+icon('arrow-left')
							| Предыдущий урок
						a(href="#") Следующий урок
							+icon('arrow-right')
			
			.course-contents.bg-gray
				.ams-scroll.scroll-pane
					.ams-scroll__inner
						- var list1 = [{num:'1.1', text: 'Запуск и стартовое окно'}, {num: '1.2', text: 'Обзор интерфейса'}, {num: '1.3', text: 'Создание рабочего пространства'}, {num: '1.4', text: 'Лента'}, {num: '1.5', text: 'Командная строка'}, {num: '1.6', text: 'Пространство модели'}, {num: '1.7', text: 'Строка состояния'}, {num: '1.8', text: 'Палитры'}, {num: '1.9', text: 'Панель быстрого доступа'}, {num: '1.10', text: 'Панель быстрого доступа'}];
						
						.course-contents__chapter
							.course-contents__title 1. Знакомство с интерфейсом. Создание примитивов
							ul.course-contents__list
								each item, ins in list1
									if ins == 0
										li.course-contents__item.visited
											a(href="#")
												+icon('eye')
												+icon('loc-unopened')
												span.course-contents__num= item.num
												span.course-contents__val= item.text
									

									if ins == 2
										li.course-contents__item
											a(href="#").locked
												+icon('eye')
												+icon('loc-unopened')
												span.course-contents__num= item.num
												span.course-contents__val= item.text

									else
										li.course-contents__item
											a(href="#")
												+icon('eye')
												+icon('loc-unopened')
												span.course-contents__num= item.num
												span.course-contents__val= item.text
						
							.course-contents__homework
								a(href="#" title="Недоступен в демо-режиме и бесплатной версии курса").ams-link
									+icon('Homework')
									| Домашнее задание
			
			.course-information
				.course-video
					video#youtube1(poster="img/poster.jpg")
						source(src="https://www.youtube.com/watch?v=dGt08ylXCj0&list=PLIV84uuUwBBDwLXOui4XYWwhe_47dc-Lg&index=3&t=0s", type="video/youtube")


					.course-video__bottom.course-block
						a(href="#")
							+icon('arrow-left')
							| Предыдущий урок
						a(href="#") Следующий урок
							+icon('arrow-right')

				.course-materials.course-block
					.fake-h4 Вспомогательные материалы
					p Скачайте и установите #[a(href="#") плагин] для просмотра курса
					p Дополнительные материалы: #[a(href="#") Яндекс Диск] | #[a(href="#") Google Диск]
					p Текстуры: #[a(href="#") Яндекс Диск] | #[a(href="#") Google Диск]
					p Модели: #[a(href="#") Яндекс Диск] | #[a(href="#") Google Диск]
					p HDRI: #[a(href="#") Текстуры:] | #[a(href="#") Google Диск]

					p Тех. поддержка
				
				.course-comments
					script(type='text/javascript').
						(function() {
						var mc = document.createElement('script');
						mc.type = 'text/javascript';
						mc.async = true;
						mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
						})();
						cackle_widget = window.cackle_widget || [];
						cackle_widget.push({
						widget: 'Comment',
						id: 20775
						});

block page-scripts
	script(src='js/libs/jsscrollpane/js/jquery.mousewheel.js')
	script(src='js/libs/jsscrollpane/js/jquery.jscrollpane.min.js')
	script(src='js/libs/mediaelement/mediaelement-and-player.min.js')
	//- script(src='js/libs/tippyjs/dist/tippy.min.js')