extends _misc/main-with-account

block title
	| Кабинет пользователя

block content
	section.programs.ams-std-sect.bg-gray
		.wrapper
			h2 Мои программы обучения
			- var navs = ['Revit', 'AutoCAD', 'ARCHICAD', '3ds Max'];
			.programs-nav-container
				ul.programs-nav
					each nav, index in navs
						if index == 0
							li.active
								a(href="#")= nav
						else
							li
								a(href="#")= nav

		.wrapper.ams-card-wrapper
			- var cards = ['Использование AutoCAD на 100% 2.0', 'Информационное моделирование в Revit', 'Использование ARCHICAD на 100%', '3ds Max.Визуализация'];
			
			each card, ind in cards
				a(href="#").ams-card
					.ams-card__top
						.ams-card__kind Онлайн-курс
						h3= card
					.ams-card__body
						.ams-card__text
							.ams-card__info
								.ams-card__block
									+icon('lessons')
									span 167 уроков
								.ams-card__block
									+icon('time')
									span 22 часа

							p Подготовка не требуется

						.ams-card__img
							img(src="img/cards/"+(ind+1)+".jpg", alt="alt")
							+icon('arrow-right')

			a(href="#").ams-card.ams-card--empty
				.ams-card__placeholder-top
					img(src="img/cards/card-placeholder-top.svg", alt="alt")
				
				h3 Добавить онлайн-курсы
				
				.ams-card__placeholder-bottom
					img(src="img/cards/card-placeholder-bottom.svg", alt="alt")
										
				+icon('Plus')

				a(href="#").ams-card.ams-card--dashed
	
	section.free-lessons.ams-std-sect
		.wrapper
			h2 Мои бесплатные занятия

		.wrapper.ams-card-wrapper
			- var wides = [{title: 'AutoCAD для начинающих', kind: 'Базовый курс', classname: 'base'}, {title: '10 ошибок начинающих пользователей AutoCAD', kind: 'Мастер-класс', classname: 'master-class'}, {title:'Динамические блоки в AutoCAD', kind: 'Вебинар', classname: 'webinar'}];
					each item, ind in wides
						a(href="#" class="ams-card ams-card--wide with-arrow bg-gray "+item.classname)
							.ams-card__img
									img(src="img/cards/card-wide-"+(ind+1)+".jpg", alt="alt")
							
							.ams-card__body
								.ams-card__header
									.ams-card__kind= item.kind
									.ams-card__tarif Бесплатно

								h3= item.title
							
								.ams-card__bottom
									.ams-card__volume 4 урока
									.ams-card__expr Подготовка не требуется

							+icon('arrow-right')

				a(href="#" class="ams-card ams-card--wide with-arrow ams-card--wide-empty with-arrow")
					.ams-card__img
							img(src="img/cards/card-wide-img-placeholder.svg", alt="alt")
					
					.ams-card__body
						.ams-card__header
							img(src="img/cards/card-wide-placeholder-top.svg", alt="alt")

						h3 Добавить 
								br
								| онлайн-курсы
					
						.ams-card__bottom
							img(src="img/cards/card-wide-placeholder-bottom.svg", alt="alt")

					+icon('Plus')

				a(href="#").ams-card.ams-card--dashed.ams-card--wide

			.free-lessons__button
				a(href="#").button показать все занятия